<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>   
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  
  <MsmqTransportConfig InputQueue="TimeOutQueue" ErrorQueue="error" NumberOfWorkerThreads="1" MaxRetries="3"/>

  <UnicastBusConfig DistributorControlAddress="" DistributorDataAddress="" ForwardReceivedMessagesTo="">
    <MessageEndpointMappings>      
    </MessageEndpointMappings>
  </UnicastBusConfig> 

  <!-- ==================================================================== -->
  <!-- Quartz configuration -->
  <!-- ==================================================================== -->
  <quartz>
    <add key="quartz.scheduler.instanceName" value="Scheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
  </quartz>
  
</configuration>